h1{
    color: aqua;
    text-align: center;  
    border: 2px; 
    background-color: rgb(233, 227, 227);             
}
.container {
    border: 2px;
    background-color: deeppink;                
}
p{
    border: 2px solid #4089;
    background-color: rgb(212, 14, 136); 
}
#para1 {
    background-color: white;                
}
span{
    border: 2px #126b12;
    background-color: dimgray;
}
a{
   border: 2px green;                 
}